
header {
    color: #000;
    /* white-space: nowrap; */
    background-color: #6f7f8f;
    align-self: stretch;
    /* align-items: end; */
    padding: 13px 20px;
    font: 400 15px Inter, sans-serif;
  }
body {
  background-color: #F3F2EE;
}
nav {
    background-color: #bbbac1;
    /* align-self: stretch; */
    display: flex;
    padding: 0 20px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }
  nav a {
    text-decoration: none;
    color: #000;
  }
  body {
    margin: 0;
  }
  .img {
    object-fit: contain;
    object-position: center;
    width: 185px;
    overflow: hidden;
    align-self: stretch;
    /* max-width: 100%; */
  }
  
  .div-9 {
    margin-top: 70px;
    width: 100%;
    max-width: 995px;
    margin-left: 240px;
  }
  .div-10 {
    gap: 20px;
    display: flex;
    margin-bottom: 50px;
  }
  .image_container {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 39%;
    margin-left: 0px;
  }
  .image {
    border-radius: 45px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #bbbac1;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 18px 20px;
    margin-bottom: 50px;
  }
  .img-2 {
    aspect-ratio: 0.75;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 61%;
    margin-left: 20px;
  }
  .div-12 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 0 20px;
  }
  .intro {
    color: #000;
    text-align: center;
    margin-right: -20px;
    font: 400 20px Inter, sans-serif;
  }
  .div-14 {
    align-self: center;
    display: flex;
    margin-top: 34px;
    width: 331px;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  .my_work {
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #6f7f8f;
    flex-grow: 1;
    padding: 8px 20px;
    font: 400 16px Inter, sans-serif;
    text-decoration: none;
  }
  .lets_talk {
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #595657;
    flex-grow: 1;
    align-items: center;
    padding: 8px 20px;
    font: 400 16px Inter, sans-serif;
    text-decoration: none;
  }

  .main-container {
    display: flex;
  }

  .my_skills {
    /* gap: 20px; */
    display: block;
    padding: 20px;
    margin-top: 150px;
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 42%;
    margin-left: 0px;
  }
  .description {
    text-align: left;
    padding: 20px;
    /* width: 50%; */
  }

  .text-normal {
    color: #000;
    /* align-self: stretch; */
    /* margin-right: -20px; */
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 36px;
    /* width: 100%; */
  }

  .skills {
    color: #000;
    /* margin: 32px -20px 0 0; */
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 24px;
    width: 75%;
  }
  .text-bold {
    color: #000;
    align-self: stretch;
    padding: 20px;
    font-family: Inter, sans-serif;
    font-weight: 700;
  }
  .stock_image {
    /* display: flex; */
    /* flex-direction: column; */
    line-height: normal;
    /* width: 58%; */
    /* margin-left: 20px; */
    padding-top: 40px;
  }
  .landscape {
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
  }

  .contact_me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 702px;
    width: 100%;
    max-width: 1060px;
    align-items: center;
    padding: 117px 20px;
  }


  .desk {
    position: absolute;
    height: 75%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .contact-container {
    position: relative;
    background-color: rgba(217, 217, 217, 0.95);
    display: flex;
    /* margin-bottom: -23px; */
    margin-top: 110px;
    width: 799px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 157px 20px 147px;
  }


  .text-container {
    display: flex;
    margin-bottom: -29px;
    width: 512px;
    max-width: 100%;
    flex-direction: column;
  }


  .title {
    color: #000;
    text-align: center;
    font: 400 24px Inter, sans-serif;
  }


  .good_match{
    color: #000;
    text-align: center;
    font: 400 24px Inter, sans-serif;
  }

  .contact-button {
    color: #fff;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #6f7f8f;
    align-self: center;
    margin-top: 35px;
    width: 246px;
    max-width: 100%;
    align-items: center;
    padding: 21px 20px;
    font: 400 20px Inter, sans-serif;
    text-decoration: none;
  }
  footer {
    background-color: #BBBAC1;
    padding: 50px;
  }


  /* About Me page */

  .get {
    gap: 20px;
    display: flex;
  }

  .know_text {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 40%;
    margin-left: 200px;

  }
  .header_know {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 0 20px;
  }
  .digital {
    color: #000;
    margin-right: -20px;
    font: 400 15px/18px Inter, sans-serif;
  }
  .h2 {
    font-size: 32px;
    line-height: 30px;
  }
  .know_content {
    color: #000;
    margin: 15px -20px 0 0;
    font: 400 16px/19px Inter, sans-serif;
    width: 80%;
    
  }

  .know_img {
    width: 80%;
    margin-top: 50px;
    /* margin-right: 100px; */
  }


  .about {
    padding: 0 20px;
    margin-top: 100px;
    margin-left: 100px;
  }

  .image-padding {
    gap: 20px;
    display: flex;
  }


  .words {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 41%;
    margin-left: 0px;
  }
  .more_words {
    margin-top: 300px;
    width: 80%;
  }
  .image-container {
    background-color: rgba(111, 127, 143, 0.7);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
  }

  .isaac {
    object-fit: contain;
    object-position: center;
    /* width: 344px; */
    overflow: hidden;
    max-width: 100%;
  }

  .get_to {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 59%;
    margin-left: 20px;
  }

  .life_content {
    color: #000;
    text-align: center;
    margin: auto 0;
    font: 400 20px/29px Inter, sans-serif;
  }

/* Portfolio */

.chamber {
  gap: 20px;
  display: flex;
}


.chamber_img_container {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 55%;
  margin-left: 0px;
}

.chamber_img {
  margin: 0;
  object-fit: contain;
  object-position: center;
  width: 90%;
  overflow: hidden;
  /* max-width: 600px; */
}

.chamber_info {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 45%;
  margin-left: 20px;
}

.chamber_words {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding: 0 20px;
}

.chamber-title {
  color: #000;
  margin-right: -20px;
  white-space: nowrap;
  font: 400 36px/44px Inter, sans-serif;
}
.chamber-description {
  color: #000;
  margin: 27px -20px 0 0;
  font: 400 20px/24px Inter, sans-serif;
}

.chamber-link {
  color: #000;
  white-space: nowrap;
  margin: 22px -20px 0 0;
  font: 400 16px/19px Inter, sans-serif;
}

.wdd_description {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .wdd_description {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.description_column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 46%;
  margin: 0;
}

@media (max-width: 991px) {
  .description {
    width: 100%;
  }
}

.portfolio-heading {
  color: #000;
  margin-right: -20px;
  white-space: nowrap;
  font: 400 32px/39px Inter, sans-serif;
}

@media (max-width: 991px) {
  .portfolio-heading {
    max-width: 100%;
    white-space: initial;
  }
}

.portfolio-description {
  color: #000;
  margin: 29px -20px 0 0;
  font: 400 20px/24px Inter, sans-serif;
}

@media (max-width: 991px) {
  .portfolio-description {
    max-width: 100%;
  }
}

.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 54%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}

.portfolio-image {
  margin: 0;
  object-fit: contain;
  object-position: center;
  width: 90%;
  overflow: hidden;
  /* max-width: 630px; */
}

@media (max-width: 991px) {
  .portfolio-image {
    max-width: 100%;
  }
}